*{
  margin: 0;
  padding: 0;
}

/*Fonts*/

@font-face {
  font-family: Regular;
  src: url(assets/fonts/PlusJakartaSans-Regular.woff2);
}

@font-face {
  font-family: Medium;
  src: url(assets/fonts/PlusJakartaSans-Medium.woff2);
}

@font-face {
  font-family: Light;
  src: url(assets/fonts/PlusJakartaSans-Light.woff2);
}

@font-face {
  font-family: Bold;
  src: url(assets/fonts/PlusJakartaSans-Bold.woff2);
}

/*Fonts*/

*{
  font-family: Regular;
}

/*Scroll Bar*/

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 10px;
  background-color: #fff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #03EF62; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0ec959; 
}

/*Scroll Bar*/


/*Nav-Bar*/
a {
  color: #D6D6D6;
}

/* header */

.header {
  background-color: #313132;
  position: fixed;
  top: 0;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow:hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: Medium;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  background-color: #313132;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #D6D6D6;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #D6D6D6;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
    display: flex;
    align-items: center;
  }

  .header .menu li a {
    padding: 20px 30px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu{
    background-color: transparent;
  }
}

.header .logo img{
  height: 30px;
  padding-top: 5px;
}

/*Nav-Bar*/

.top h1{
  color: #000;
  padding: 10px 10px;
  font-size: 14px;
  font-family: Regular;
}

.top{
  background-color: #F5F5F7;
  text-align: center;
  padding-left: 16%;
  padding-right: 16%;
}

.top h1 .link-camp{
  color: #0066CC;
  margin-left: 5px;
}

.top h1 .link-camp:hover{
  text-decoration: underline;
  cursor: pointer;
}

.second-body{
  padding-top: 70px;
  margin: 70px 160px 0px 160px;
}

.second-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-body .heading-img img{
  height: 450px;
}

.second-body .title h3{
  font-size: 55px;
}

.second-body .title p{
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 48em) {
  .second-body{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
    margin-top: 110px;
  }

  .second-body .heading-img img{
    height: 250px;
  }

  .second-body .title{
    margin-top: 50px;
  }

  .second-body .title h3{
    font-family: Medium;
    font-size: 29px;
    margin-bottom: 15px;
  }

  .second-body .title p{
    font-size: 15px;
  }
}
